.scrollbar {
  display: inline-block;
  overflow-y: scroll;
  width: 100%;
  overflow-x: hidden;
}

#style::-webkit-scrollbar-track {
  border-radius: 8px;
}

#style::-webkit-scrollbar {
  width: 8px;
}

#style::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #8c8c8c;
}
